body {
  padding: 0;
  margin: 0;
  color: #222;
  background-color: white;
  line-height: 1.4;
  font-family: 'EB Garamond 12';
}
main {
  width: 95%;
  max-width: 1200px;
  margin: 50px auto;
  font-size: 26px;
}
h1 + p::first-letter, h2 + p::first-letter {
  font-size: 116px;
  margin-top: 7px;
  font-family: 'Kanzlei';
  padding-right: 4px;
  float: left;
  color: #990000;
  text-indent: 0;
  line-height: .8em;
}
p.noinitial:first-child::first-letter, p.noinitial::first-letter {
  font-size: inherit !important;
  font-family: inherit !important;
  padding-right: inherit !important;
  float: inherit !important;
  color: inherit !important;
  text-indent: inherit !important;
}
h6 {
  margin-bottom: 0;
  font-size: 16px;
}
small {
  font-size: 16px;
}
#privacy {
  margin: 10px 0;
  line-height: 1;
}
img#head {
  float: right;
  height: 200px;
  border-radius: 50%;
  margin-left: 60px;
  margin-top: 20px;
}
